// Animated Classes
.animation {
    &-tilt {
        
        &--up { }
        &--down {
            transform: perspective(50px) rotateX(-1deg);
            transform-origin: top;
            animation: rotate-bottom-back .3s;
            &:hover {
                animation: rotate-bottom .5s;
                transform-origin: top;
                transform: perspective(50px) rotateX(0);
            }
        }
        &--left { 
            @include tiltObject(left, false);
            transform: perspective(50px) rotateY(1deg);
            animation: rotate-left-back .7s;
            &:hover {
                @include resetTilt();
                animation: rotate-left 1s;
                transform: perspective(50px) rotateY(0);
            }
        }
        &--right {
            @include tiltObject(right, false);
            transform: perspective(50px) rotateY(-1deg);
            animation: rotate-right-back .7s;
            
            &:hover {
                @include resetTilt();
                animation: rotate-right 1s;
                transform: perspective(50px) rotateY(0);
            }
        }
        

    }
}

/***** Animations *****/
@keyframes rotate-right {
    0% {
        -webkit-transform: perspective(50px) rotateY(-1deg);
                transform: perspective(50px) rotateY(-1deg);
    }
    55% {
        -webkit-transform: perspective(50px) rotateY(.3deg);
        transform: perspective(50px) rotateY(.3deg);
    }
    100% {
        webkit-transform: perspective(50px) rotateY(0);
            transform: perspective(50px) rotateY(0);
    }
}
@keyframes rotate-right-back {
    0% {
        -webkit-transform: perspective(50px) rotateY(0);
                transform: perspective(50px) rotateY(0);
    }
    100% {
        -webkit-transform: perspective(50px) rotateY(-1deg);
                transform: perspective(50px) rotateY(-1deg);
    }
}

@keyframes rotate-left {
    0% {
        -webkit-transform: perspective(50px) rotateY(1deg);
                transform: perspective(50px) rotateY(1deg);
    }
    55% {
        -webkit-transform: perspective(50px) rotateY(-.3deg);
        transform: perspective(50px) rotateY(-.3deg);
    }
    100% {
        webkit-transform: perspective(50px) rotateY(0);
            transform: perspective(50px) rotateY(0);
    }
}
@keyframes rotate-left-back {
    0% {
        -webkit-transform: perspective(50px) rotateY(0);
                transform: perspective(50px) rotateY(0);
    }
    100% {
        -webkit-transform: perspective(50px) rotateY(1deg);
                transform: perspective(50px) rotateY(1deg);
    }
}

@keyframes rotate-bottom {
    0% {
        -webkit-transform: perspective(50px) rotateX(-1deg);
                transform: perspective(50px) rotateX(-1deg);
    }
    75% {
        -webkit-transform: perspective(50px) rotateX(.3deg);
        transform: perspective(50px) rotateX(.3deg);
    }
    100% {
        webkit-transform: perspective(50px) rotateX(0);
            transform: perspective(50px) rotateX(0);
    }
}
@keyframes rotate-bottom-back {
    0% {
        -webkit-transform: perspective(50px) rotateX(0);
        transform: perspective(50px) rotateX(0);
    }
    100% {
        -webkit-transform: perspective(50px) rotateX(-1deg);
                transform: perspective(50px) rotateX(-1deg);
    }
}
