/* -------- COMMON STYLES -------- */
*{z-index: 3}
body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    @include flex(column);
}
.main-container {
    display: grid;
    background-image: url('../assets/background.jpg');    
    background-attachment: fixed;
    background-size: cover;

}
a:hover {
    text-decoration: none;
    color: none !important;
}

/* -------- HEADER STYLES -------- */
header {
    z-index: 15;
    @extend .glass-decoration;
    @include tiltObject(bottom, false);
    padding: .5em;
}
.header{
    &-logo {
        width: 200px;
        display: inline-block;
        margin: 1rem;
    }
    
    &-nav {
        .app-nav-item .nav-link{
            color: $color-white !important;
        }

        .app-nav-item:hover {
            border-bottom: 3px solid $color-white !important;
        }
        
        &.navbar-nav {
            margin-left: auto;
        }
    }
}
.app-nav-item{
    text-align: center;
    display: inline-block;
    margin: .5rem .5rem;
    padding: .3rem 1rem;
    transition: all .15s ease-out;
    
    a {
        text-decoration: none;
        color: $color-white;
    }
    
    &.active {
        border-bottom: 3px solid $color-light !important;
    }
}
.navbar-sm-header, .navbar-sm-footer {
    display: none;
}

@media screen and (max-width: 576px) { 
    .header {
        &-logo {
            width: 50%;
        }
    }
}

@media screen and (max-width: 992px) { 
    .navbar-sm-header {
        @include flex(row, space-between, auto, center);
        @extend .glass-decoration;
        @include tiltObject(bottom, false);
        box-shadow: 0px 3px 3px $color-black-transparent;
    }
    .nav-links {
        background-image: url('../assets/background.jpg');    
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
    }
    .navbar-nav.header-nav {
        margin: auto;
    }
    .nav-link {
        // color: $color-black !important;
        font-size: 25px;
    }
    .navbar-sm-footer {
        display: block;
    }
    .header-nav {
        .app-nav-item {
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom: 3px solid $color-white !important;
            }
        }
    }
}



/* -------- FOOTER STYLES -------- */
footer {
    @include flex(column);
    @extend .glass-decoration;
    @include tiltObject(top, false);
    color: $color-white;
    width: 100%;
}
.footer {
    &-info {
        padding: 1em 2em;
        @include flex(row, space-between, space-between, center)
        
    }
    &-logo{
        width: 110px;
    }
    &-nav {
        padding: 0;
        margin: auto;
        
        .app-nav-item {
            margin: 0;
            border-right: solid 1px $color-dark-transparent;
        }

        :last-child {
            border-right: none;
        }

        .app-nav-item a {
            transition: all 0.15s ease-out;
        }
        .app-nav-item:hover a {
            transform: scale(1.15);
            display: block;
        }
    }

    &-social{
        @include flex(row, space-between, space-between);

        width: 110px;

        &__icon {
            transition: all 0.15s ease-out;
        }
        &__icon:hover {
            transform: scale(1.15);
            display: block;
        }
        &>a{
            text-decoration: none;
            color: $color-white;
            font-size: 32px;
        }

    }
    &-signature {
        @extend .glass;
        @include tiltObject(top);
        font-size: 12px;
        padding: 1em 2em;
        text-align: center;
    }

}

@media screen and (max-width: 576px) { 
    footer .footer-signature {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .footer-nav {
        display: none;
    }
}


/* ----------- MAIN STYLES --------- */
.content-section {
    padding: 2rem;
    /* min-height: 50vh; */
    position: relative;
}
h1 {
    font-size: 2em !important;
}
h1, h2, h3, h4 {
    padding: 0.5em;
    border-radius: $border-radius;
    background: $color-white;
    text-align: center;
    @include tiltObject(top, false);
}
.title {
    &-block {
        @include flex(column, auto, auto, center);

        transform: perspective(50px) rotatex(-1deg) translateZ(8px) translate(0, -5px);
        width: 80%;
        margin: 1rem auto 4rem;
    }
    &-decoration {
        border-radius: $border-radius;
        width: 80%;
        margin-top: -20px;
        height: 40px;
        z-index: 1;
        @extend .glass-decoration;
        @include tiltObject(top, false);
    }
}
.rg-btn {
    padding: 1em;
    border-radius: $border-radius;
    cursor: pointer;
}
.text-block {
    @include flex();
}
.text-block p{
    background: $color-white;
    margin: auto;
    padding: 4em;
    border-radius: $border-radius;
}
@media screen and (max-width: 576px) { 
    .text-block p{
        padding: 1em !important;
        font-size: 14px;
    }
    .content-section {
        padding: 1.5rem;
    }
}
@media screen and (max-width: 768px) {
    .content-section {
        padding: 1rem;
    }
    .text-block p{
        padding: 1.5em;
    }
}


/* ---------- FORMS ---------------- */
.form-row {
    margin: .5em 0;
    @include flex(column);
    label:first-child{
        display: block;
        margin-bottom: 10px
    }
}
.control-radio-options {
    @include flex(column, space-between, auto, flex-start);
    flex-wrap: wrap;

    label{
        margin-right: 1em
    }
}
.form-btn {
    margin: 1em auto;
    padding: 0.5em;
    width: 100px;
}
