/* ----------- HOME STYLES --------- */
.home-title {
    display: none
}

.main-info{
    @include flex(row, space-around, center);
    position: relative;
    
    margin: 3em 0;
    
    &__image {
        width: 350px;
        border-radius: $border-radius;
        @extend .animation-tilt--right;
    }
    &__text {
        width: 400px;
        &-strong {
           font-weight: bold; 
           color: $color-gray;
        }  
        &-colored {
            font-weight: bold; 
            font-size: 1.25rem;
            color: $color-deep;
            
        }
    }
    &__decoration{
        border-radius: $border-radius;
        position: absolute;
        width: 60%;
        height: 120%;
        top: -1rem;
        z-index: 1 !important;
        @extend .glass-decoration;
        @include tiltObject(left);
    }
}

.jobs-section {
    @include flex(column);

    margin-bottom: 2em;

    &__decoration {
        position: absolute;
        width: 70%;
        height: 330px;
        border-radius: $border-radius;
        margin: -20px auto;
        z-index: 1;
        @extend .glass-decoration;
        @include tiltObject(right);
    }
    &__galery{
        @include flex(row, space-evenly);
        position: relative;
        flex-wrap: wrap;
    }
    .jobs-section__btn {
        margin: 4.5rem auto 0;
    }
}
.job-img {
    border-radius: $border-radius;
    width: 310px;
    height: 220px;
    background: $color-white;
    background-size: cover !important;
    &__1{
        background: url('../assets/wordpress_1.png') $color-white;
        @extend .animation-tilt--left;
    }
    &__2{
        background: url('../assets/maps_1.jpg') $color-white;
    }
    &__3{
        background: url('../assets/ICBC_bank.jfif') $color-white;
        @extend .animation-tilt--right;
        
    }
    & .job-img__content {
        @extend .glass-decoration;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        justify-content: flex-end;
        color: $color-white;
        transition: all .8s linear;
        opacity: 0;

        &-title {
            font-weight: bold;
        }
        &-description {
            text-align: right;
            & span {
                font-size: 14px;
                font-weight: lighter;
            }

        }
    }

    &:hover>.job-img__content {
        opacity: 1;
    }
}


/***** Responsive Media Queries  *****/
@media screen and (max-width: 576px) { 
    .main-info{
        &__text{
            width: 70%;
        }
        &__image {
            width: 70%;
        }
    }
    .jobs-section__decoration{
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .main-info{
        flex-direction: column-reverse;
        margin: 4em 0;
        &__decoration{
            width: 80%;
            height: 115%;
            margin: 0 10%;
        }
        &__text {
            margin-left: auto;
            z-index: 4;
            min-height: 250px;
        }
        &__image {
            margin-right: auto;
            z-index: 3;
            margin-bottom: -40%;
        }
    }
    .jobs-section{
        &__decoration {
            height: 100%;
            top: 4rem;
        }
        &__btn {
            margin: 1.5rem auto 0 !important;
        }
    }
    .job-img {
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 996px) {
    .job-img{
        &__2 {
            display: none;    
        }
        &__3{
            display: block !important;
        }
    }
}
