/* ----------- HOME STYLES --------- */
.home-title {
    display: none
}

.main-info{
    position: relative;
    display: flex;
    margin: 3em 0;
    justify-content: space-around;
    align-content: center;
    
    &__image {
        width: 350px;
        border: $border-normal;
        border-radius: $border-radius;
        transform: perspective(50px) rotateY(-1deg);
        animation: rotate-right-back .7s;
        &:hover {
            /* transition: all .25s ease-in; */
            animation: rotate-right 1s;
            transform: perspective(50px) rotateY(0);
        }
    }
    &__text {
        width: 400px;
    }
    &__decoration{
        border-radius: $border-radius;
        position: absolute;
        background-color: $color-gray;
        border-left: $border-bold;
        width: 60%;
        height: 120%;
        top: -1rem;
        z-index: 1 !important;
        -webkit-transform: perspective(50px) rotateY(.3deg);
    }
}

.jobs-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    &__decoration {
        position: absolute;
        width: 70%;
        height: 330px;
        border-radius: $border-radius;
        margin: -20px auto;
        background-color: $color-gray;
        z-index: 1;
        -webkit-transform: perspective(50px) rotateY(-.35deg);
        border-right: $border-bold;
    }
    &__galery{
        display: flex;
        position: relative;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .jobs-section__btn {
        margin: 4.5rem auto 0;
    }
}
.job-img {
    border-radius: $border-radius;
    width: 310px;
    height: 220px;
    border: $border-normal;
    background: $color-white;
    &__1{
        background: url('https://picsum.photos/310/220') $color-white;
        transform: perspective(50px) rotateY(1deg);
        animation: rotate-left-back .7s;
        &:hover {
            /* transition: all .25s ease-in; */
            animation: rotate-left 1s;
            transform: perspective(50px) rotateY(0);
        }
    }
    &__2{
        background: url('https://picsum.photos/310/230') $color-white;
    }
    &__3{
        background: url('https://picsum.photos/310/240') $color-white;
        transform: perspective(50px) rotateY(-1deg);
        animation: rotate-right-back .7s;
        &:hover {
            /* transition: all .25s ease-in; */
            animation: rotate-right 1s;
            transform: perspective(50px) rotateY(0);
        }
    }
    &>span {
        display: none;
    }
}


/***** Responsive Media Queries  *****/
@media screen and (max-width: 576px) { 
    .main-info{
        &__text{
            width: 70%;
        }
        &__image {
            /* transform: perspective(50px) rotateY(0); */
            width: 70%;
        }
    }
    .jobs-section__decoration{
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    .main-info{
        flex-direction: column-reverse;
        margin: 4em 0;
        &__decoration{
            width: 80%;
            height: 115%;
            margin: 0 10%;
        }
        &__text {
            margin-left: auto;
            z-index: 4;
            min-height: 250px;
        }
        &__image {
            margin-right: auto;
            z-index: 3;
            margin-bottom: -40%;
        }
    }
    .jobs-section{
        &__decoration {
            height: 100%;
            top: 4rem;
        }
        &__btn {
            margin: 1.5rem auto 0 !important;
        }
    }
    .job-img {
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width: 996px) {
    .job-img{
        &__3 {
            display: none;    
        }
        &__2{
            transform: perspective(50px) rotateY(-1deg);
            animation: rotate-right-back .7s;
            &:hover {
                /* transition: all .25s ease-in; */
                animation: rotate-right 1s;
                transform: perspective(50px) rotateY(0);
            }
        }
    }
}
