/* ----------- SKILLS STYLES --------- */
.studies-info{
    @include flex(row, center, center, center);
    position: relative;
    margin: 3em 0;

    &__image {
        width: 350px;
        border-radius: $border-radius;
        @extend .animation-tilt--left;
    }
    &__text {
        max-width: 400px;
        margin-left: 5em;
    }
    &__decoration{
        border-radius: $border-radius;
        position: absolute;
        width: 55%;
        height: 100%;
        bottom: -9em;
        z-index: 1 !important;
        @extend .glass-decoration;
        @include tiltObject(top);
        &-sm {
            display: none;
            border-radius: $border-radius;
            position: absolute;
            z-index: 2 !important;
            @extend .glass-decoration;
            @include tiltObject(bottom);
        }
    }
}

.skills-section {
    @include flex(column);
    &__container {
        @include flex(row, space-around, inherit, flex-start);
    }
    &__card {
        @include flex(column, inherit, inherit, center);
        width: 30%;
        position: relative;
        @extend .animation-tilt--down;

        h4 {
            z-index: 4;
        }
    }
    &__decoration {
        position: absolute;
        @extend .glass-decoration;
        width: 100%;
        height: 80%;
        top: 1em;
        border-radius: $border-radius;
        &-sm {
            display: none;
            position: absolute;
            @extend .glass-decoration;
            z-index: -1;
            width: 50%;
            height: 60%;
            top: 15rem;
            left: 25%;
        }
    }
    &__list {
        padding: 0 1em;
        background-color: $color-white;
        width: 70%;
        text-align: center;
        border-radius: $border-radius;
        margin-top: 1rem;
    }
    &__item {
        display: block;
        margin: 1em 0;
    }
}

@media screen and (max-width: 576px) { 
    .studies-info {
        &__text {
            width: 100% !important;
        }
        &__decoration {
            width: 70% !important;
            left: .5rem !important;
        }
    }
    .skills-section__card {
        width: 90% !important;
        align-self: center !important;
    }
}
@media screen and (max-width: 768px) {
    .studies-info{
        &__image{
            display: none;
        }
        &__text {
            width: 70%;
            margin: auto;
        }
        &__decoration {
            width: 55%;
            left: 2rem;
            height: 100%;
            top: 45px;
            &-sm {
                display: block;
                width: 40%;
                right: 2rem;
                height: 140px;
                bottom: -10rem;
            }
        }

    }

    .skills-section {
        &__container {
            @include flex(column, space-around, inherit, center)
        }
        &__decoration-sm {
            display: block;
        }
        &__card {
            width: 60%;
            margin-bottom: 1rem;
            &:nth-child(even) {
                align-self: end;
            }
            &:first-child {
                align-self: start;
            }
        }
    }
}