 $color-black: #000000;
 $color-white: #ffffff;
 $color-light: #ffeb3b;
 $color-gray: #35393C;
 $color-dark: #16191d;

 $border-thin: 1px solid $color-black;
 $border-normal: 2px solid $color-black;
 $border-bold: 3px solid $color-black;
 $border-radius: 3px;