/* ----------- CONTACT STYLES --------- */
.contact-section{
    position: relative;
    display: flex;
    /* margin: 3em 0; */
    justify-content: space-around;
    align-content: center;
}
.contact-form__container{
    display: flex;
    align-items: flex-start;
}
.contact-form {
    width: 450px;
    display: flex;
    /* margin: 1em 2em; */
    padding: 1em 1.5em;
    flex-wrap: wrap;
    background: white;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    flex-direction: column;
}
.contact-section__data {
    width: 400px;
    display: flex;
    flex-direction: column;
}
.contact-section__image {
    border: 2px solid black;
    border-radius: 3px;
    min-height: 400px;
}
.contact-section__text {
    margin-bottom: 2em;
}
.contact-section__decoration {
    border-radius: 3px;
    position: absolute;
    background-color: #35393C;
    width: 60%;
    height: 100%;
    top: -1rem;
    z-index: 1 !important;
}
.contact-decoration-section {
        display: flex;
        justify-content: center;
        padding-bottom: 4rem;
        overflow: hidden
}
.contact-decoration {
    position: absolute;
    border-radius: 3px;
    z-index: -1 !important;
}
.contact-decoration.decoration-1 {
    background-color: #16191d;
    height: 50%;
    width: 50%;
    top: 5em;
    left: 14em;
}
.contact-decoration.decoration-2 {
    background-color: #35393C;
    height: 70%;
    width: 50%;
    bottom: 2em;
    right: 13em;
}
.contact-decoration__image {
    border: 1px solid black;
    border-radius: 3px;
    z-index: 3;
    left: 25%;
    width: 50%;
}

@media screen and (max-width: 576px) {
    .contact-section__data {
        width: 100% !important;
    }
    .contact-section__image {
        width: 70% !important;
        height: auto !important;
    }
    .contact-section__text{
        width: 80% !important;
    }
    .contact-form {
        width: 100% !important;
    }
    .contact-section__decoration { 
        width: 80% !important;
        right: 1rem !important;
    }
}
@media screen and (max-width: 768px) {
    .contact-form__container {
        padding-top: 5rem;
    }
    .contact-form {
        width: 80%;
    }

}

@media screen and (max-width: 996px) {
    .contact-section {
        flex-direction: column-reverse;
        align-items: center;
    }
    .contact-section__data {
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
    }
    .contact-section__image {
        align-self: start;
        z-index: 1;
        min-height: auto;
    }
    .contact-section__text{
        width: 60%;
        align-self: end;
        margin-top: -190px;
        z-index: 3;
        min-height: 115px;
    }
    .contact-section__decoration { 
        width: 45%;
        height: 70%;
        right: 9rem;
    }
    .contact-form__container {
        justify-content: center;
    }
}